@import "tailwindcss";
@plugin "daisyui";

:root {
  --naafe-teal: #008080;
  --naafe-cream: #fdf6e3;
  --naafe-orange: #ff5722;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.bg-naafe-teal {
  background-color: var(--naafe-teal);
}

.text-naafe-teal {
  color: var(--naafe-teal);
}

.bg-naafe-cream {
  background-color: var(--naafe-cream);
}

.text-naafe-cream {
  color: var(--naafe-cream);
}

.bg-naafe-orange {
  background-color: var(--naafe-orange);
}

.text-naafe-orange {
  color: var(--naafe-orange);
}

.border-naafe-teal {
  border-color: var(--naafe-teal);
}

.border-naafe-orange {
  border-color: var(--naafe-orange);
}